/*---------- CSS variables  ----------*/

:root {
  --body-font: "Transducer", sans-serif;
  --ext-font: "Transducer-extended", sans-serif;

  --primary: #ff4221;
  --richBlack: #231f20;
  --white: #ffffff;
  --black: #000000;
  --grey: #d6d6d6;
  --greyLight: #f4f4f4;
  --greyDark: #818181;
}

/*----------  Global (Based on Andy Bells reset)  ----------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100vh;
  font-family: var(--body-font);
  color: var(--richBlack);
  font-size: 16px;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  width: 100%;
  height: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*=============================================
=            Generalt            =
=============================================*/

body {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

/* Spacing & layout */

.container {
  width: min(112.5rem, 77vw);
  margin-inline: auto;
}

.container__outer {
  max-width: 120rem;
  margin-inline: auto;
}

.columns {
  display: grid;
  gap: 1rem;
}

.two__columns-notEqual {
  display: grid;
  gap: 1rem;
}

.three__columns-equal {
  grid-template-columns: repeat(2, 1fr);
}

.grid__columns-1 {
}
.grid__columns-2 {
}
.grid__columns-3 {
}
.grid__columns-4 {
}
.grid__columns-5 {
}
.grid__columns-6 {
}
.grid__columns-7 {
}
.grid__columns-8 {
}
.grid__columns-9 {
}
.grid__columns-10 {
}
.grid__columns-11 {
}
.grid__columns-12 {
}

/*Color*/

.color__primary {
  color: var(--primary);
}

.color__richBlack {
  color: var(--richBlack);
}

.color__white {
  color: var(--white);
}

.color__black {
  color: var(--black);
}

.color__grey {
  color: var(--grey);
}

.color__greyLight {
  color: var(--greyLight);
}

.color__greyDark {
  color: var(--greyDark);
}

.bg__primary {
  background: var(--primary);
}

.bg__richBlack {
  background: var(--richBlack);
}

.bg__white {
  background: var(--white);
}

.bg__black {
  background: var(--black);
}

.bg__grey {
  background: var(--grey);
}

.bg__greyLight {
  background: var(--greyLight);
}

.bg__greyDark {
  background: var(--greyDark);
}

/*typography*/

h1,
.h1 {
}

h2,
.h2 {
  font-size: 1.375rem;
  font-family: var(--ext-font);
  font-weight: 700;
  max-width: 20rem;
}

h4 {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  font-size: 0.8125rem;
}

.label {
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.container__outer .column__cta {
  padding-left: 10.85vw;
}

.columns img {
  max-width: 40rem;
}
/*=============================================
=            mainNav            =
=============================================*/

.logo {
  max-width: 7.5rem;
}

#headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.5rem;
}

#headerNav nav {
  display: flex;
  gap: 5rem;
}

#headerNav nav a:hover,
#headerNav nav a:active,
#headerNav nav a:focus {
  color: var(--black);
}

.card__featured .image {
  background: url("https://placehold.co/600x400") center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

/*=============================================
=            Footer           =
=============================================*/

footer {
  text-align: center;
}

.footer__top {
  display: flex;
  justify-content: space-around;
}

/*=============================================
=            RacingPattern            =
=============================================*/

.racingPattern {
  background-image: linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    );
  background-size: 1.25rem 1.25rem;
  background-position: 0 0, 0.625rem 0.625rem;
  height: 1.25rem;
}

header .racingPattern {
  position: absolute;
  top: 0;
  width: 100%;
}

footer .racingPattern {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*=====  End of RacingPattern  ======*/

/*=============================================
=            Laptop            =
=============================================*/
@media (min-width: 61.25rem) {
  /* General */

  .columns__equal {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .two__columns-notEqual {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .three__columns-equal {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*=============================================
=            Desktop            =
=============================================*/
@media (min-width: 67.5rem) {
}
